# Analüütika andmebaas
POSTGRES_USER=projektitoo
POSTGRES_PASSWORD=projektitoo
POSTGRES_DB=projektitoo
DB_PORT_HOST=55432

# Airflow
AIRFLOW_UID=50000
AIRFLOW_USER=airflow
AIRFLOW_PASSWORD=airflow
AIRFLOW_DB=airflow
AIRFLOW_PORT_HOST=8080

_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

#pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin



